#container {
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #5cd0ad; 
    width: 300px;
}

th, td {
    border: 1px solid #5cd0ad; 
    padding: 10px;
}

th {
    background-color: #d6f5ed; 
}

td {
    text-align: center; 
}

.today {
    background-color: #b3f0e9; 
    font-weight: bold;
}
